<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/profile.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Profile</title>
</head>
<body>
    <header class="header">
		<h1 class="logo"><a href="#">Appointment Schedule</a></h1>
        <ul class="main-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/appointments">Create an Appointment</a></li>
          <li><a href="/profile"><i class="fa-regular fa-user"></i> Profile</a></li>
        </ul>
	</header>

    <div class="container">
        <div class="avatar-flip">
          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" height="150" width="150">
          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" height="150" width="150">
        </div>
        <h2>Name</h2>
        <h4>ACTIVE</h4>
        <span>Email :</span> <span>abc@xyz.com</span><br>
        <span>Password :</span> <span>***********</span><br>
        <a href="#" class="edit">Edit Profile</a>
      </div>
</body>
</html>